</td>
</tr>
</tbody>
</table></td>
</tr>
<tr>
    <td align="left" style="vertical-align:top;border-collapse:collapse"><table border="0" cellpadding="0" cellspacing="0" style="width:100%">
        <tbody>
        <tr>
            <td style="text-align:center;vertical-align:top;padding-top:25px;border-collapse:collapse"><p style="font-family:Helvetica,sans-serif;line-height:160%;font-family:Helvetica,sans-serif;color:#b7c0c7;font-size:12px;margin-top:0;margin-bottom:0">Indebox</p>
                <p style="font-family:Helvetica,sans-serif;line-height:160%;color:#b7c0c7;font-size:12px;margin-top:0;margin-bottom:0">
                    <a href="http://www.indebox.com.br/contato" style="font-weight:bold;text-decoration:none;color:#9ba6b0" target="_blank">(11) 4432-0142</a>&nbsp;&nbsp;<span style="color:#b7c0c7;">|</span>&nbsp;&nbsp;<a href="http://www.indebox.com.br/contato" style="font-weight:bold;text-decoration:none;color:#9ba6b0" target="_blank">Fale Conosco</a>&nbsp;&nbsp;</p></td>
        </tr>
        </tbody>
    </table>
        <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
            <tbody>
            <tr>
                <td style="vertical-align:top;text-align:center;padding-top:30px;padding-bottom:5px;border-collapse:collapse"><a href="https://www.pinterest.com/indebox/" target="_blank"><img width="39" height="42" style="width:39px;min-height:42px;border:0;min-height:auto;line-height:100%;outline:none;text-decoration:none" src="http://www.indebox.com.br/res/img/email/footer-pinterest.png" class="CToWUd"></a> <a href="https://www.facebook.com/Indebox/" target="_blank"><img width="39" height="42" style="width:39px;min-height:42px;border:0;min-height:auto;line-height:100%;outline:none;text-decoration:none" src="http://www.indebox.com.br/res/img/email/footer-facebook2x.png" class="CToWUd"></a></td>
            </tr>
            </tbody>
        </table></td>
</tr>
</tbody>
</table></td>
</tr>
</tbody>
</table>