<p>
    <h6>Orçamento para</h6>
    <h2>{$despessoa}</h2>
</p>

<p>
<h3>Suas Informações</h3>
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background:#edeff0;font-family:Helvetica,sans-serif;;margin:0;padding:0;width:100%!important;font-size:14px;color:#9ba6b0">
    <tbody>
    <tr>
        <td>Email: {$desemail}</td>
    </tr>
    <tr>
        <td>Telefone: {$destelefone}</td>
    </tr>
    <tr>
        <td>Cidade: {$descidade}</td>
    </tr>
    <tr>
        <td>Cidade: {$desestado}</td>
    </tr>
    </tbody>
</table>
</p>

<p>
    <h3>Ambientes</h3>
</p>
<table border="0" cellpadding="0" cellspacing="0" width="100%" style="background:#edeff0;font-family:Helvetica,sans-serif;;margin:0;padding:0;width:100%!important;font-size:14px;color:#9ba6b0">
    <tbody>
    {loop="ambientes"}
    <tr>
        <td>{$value.desambiente}, metragem: {$value.desmetragem}</td>
    </tr>
    {/loop}
    </tbody>
</table>
<p>Total: R$ {$vlpedido}</p>
<p>Plano Escolhido: {$desplano}</p>