.header .header-container .main-menu ul li a#menu-contato{
	color: rgb(237, 60, 151); 
}

.container-left .form-contato {
	height: auto;
	padding: 40px;
	background: #56C6D0;
	float: left;
	position: relative;
}

.container-left .form-contato input, .container-left .form-contato textarea {
  float: left;
  border: 0;
  width: 96%;
  height: 40px;
  line-height: 40px;
  padding: 0 2%;
  background: #DDF4F6;
  color: #777;
  font-size: 16px;
  margin-bottom: 20px;
  background-position: left 50%;
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
}

/* .container-left .form-contato input[type='text']:focus, .container-left .form-contato textarea:focus {
  color: #fff;
  background: #6FCED7;
} */

.container-left .form-contato textarea {
  height: 215px;
  padding-top: 5px;
  line-height: 25px;
  resize: none;
}

.button-indebox-pink {
	margin-left: 15px;
}

.container-left ul.iconsContato {
	float: left;
	list-style: none;
	width: 100%;
	margin: 40px 0;
}

.container-left ul.iconsContato li {
	font-size: 19px;
	text-align: center;
	float: left;
	padding: 0 40px;
	color: #EB3997;
	margin-bottom: 10px;
}

.container-left ul.iconsContato li img {
	margin-bottom: 10px;
}

.container-left .boxPinterest:hover {
	background: #FF252E;
}

.container-left .boxPinterest {
	background: #CB2027;
}

.container-left .boxFacebook:hover {
	background: #4A70BD;
}

.container-left .boxFacebook {
	background: #3B5997;
}

.container-left .boxInstagram:hover {
	background: #4A70BD;
}

.container-left .boxInstagram {
	background: #125688;
}


.container-left .indique-indebox {
	padding: 0px;
	position: relative;
}

.container-left .indique-indebox .img{
	width: 100%;
	min-height: 200px;
}

.container-left .indique-indebox .texto-indique{
	width: 50%;
	top: 105px;
	left: 75px;
	padding: auto;
	position: absolute;
	background: rgba(255, 255, 255, 0.5);
}

.container-left .indique-indebox .texto-indique h2,
.container-left .indique-indebox .texto-indique h3 {
	margin-left: 5%;
	margin-right: 5%;
	color: rgb(65, 56, 56);
}

.container-left .indique-indebox .texto-indique h3 span,
.container-left .boxIndique span {
	color: #FF3398;
	font-weight: bold;
	font-style: italic;
}

.container-left .boxIndique:hover {
	opacity: 0.5; 
	background: #FFF;
	-webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;

}

.container-left .boxIndique {
    background: #56C6D0;
    /* word-spacing: -2px; */
    position: absolute;
    /* text-align: center; */
    /* padding-top: 10px; */
    /* line-height: 45px; */
    /* cursor: pointer; */
    /* font-size: 19px; */
    /* width: 31.33%; */
    /* height: 60px; */
    color: #fff;
    bottom: 24px;
    /* right: 10px; */
    left: 364px;
    cursor:pointer;
}

.container-left div.redes-sociais.col-md-12.col-sm-12.col-xs-12 {
	padding: 0px;
}

.container-left .boxRedesContato {
	height: 60px;
	line-height: 45px;
	text-align: center;
	padding-top: 10px;
	margin-top: 10px;
	cursor: pointer;
	-moz-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.4);
	box-shadow: inset 1px 1px 2px rgba(0,0,0,0.4);
}

.body .modal-dialog {
	width: 340px;
}

@media (max-width: 428px) {
	.container-left .form-contato {
		padding: 40px 0px;
	}

	.container-left .indique-indebox .texto-indique{
		width: 94%;
		min-width: 100px !important;
		top: 85px;
		left: 10px;
	}

	/*.container-left .boxIndique {
		width: 94%;
	}
*/
	.container-left div.redes-sociais h1 {
		font-size: 1.7em;
	}
}

@media (max-width: 767px){
	.container-left .form-contato #form-submit-contato {
		position: absolute;
		top: 465px;
		left: 14px;
	}

	.container-left ul.iconsContato, .container-left ul.iconsContato li {
		padding: 0px;
	}

	.container-left .boxRedesContato {
		width: 100%;
	}

	.container-left .indique-indebox .texto-indique{
		min-width: 290px;
		top: 85px;
		left: 10px;
	}

	.container-left .indique-indebox .texto-indique h2 {
		font-size: 22px;
		margin-top: 5px;
	}

	.container-left .indique-indebox .texto-indique h3 {
		font-size: 18px;
		margin-top: 5px;
	}

	.container-left .boxIndique {
		min-width: 215px;
	}
}