body {
	font-family: 'aller',arial;
	color: #777;
	position: relative;
}

ul, menu, dir {
	padding: 0px;
	margin: 0px;
}

textarea {
	resize: none;
}

a {
	text-decoration: none;
}

.error-input{
    border: 1px solid red !important;
}

div#loading {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999999;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

div#loading img {
	width: 20px;
	height: 20px;
	left: 50%;
	top: 50%;
	margin-left: -10px;
	position: absolute;
}

/* menu fixo ao rolar o scroll */
.menu-fixo {
	position: fixed;
	top: 0px;
	height: 70px !important;
}
	.menu-fixo-margin {
		margin-top: 0px !important;
	}

	.menu-fixo-logo-small {
		width: 175px;
	}

	.margin-view-body {
		margin-top: 95px;
	}
/* --------------------------- */
.container-main-page {
	position: relative;
}

.container-body {
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 0px;
	padding-right: 0px;
}

.container-body .container-left, 
.container-body .container-right, 
.container-main-page .container-bottom {
	padding-left: 10px;
	padding-right: 10px;
}

.container-body .container-left h1, .container-bottom .servicosLista > h1,
.container-body .container-left h2, .container-bottom .servicosLista > h2 {
	font-size: 2em;
	color: #ED3C97;
	text-decoration: none;
	padding: 0;
	margin-bottom: 15px;
	border-bottom: rgba(141, 218, 224, 0.50) 3px double;
	height: 40px;
}

.container-body .container-left p {
	text-align: justify;
}

.container-body .container-left span {
	line-height: 1.6em;
}

.container-body .container-center .border-center {
	width: 1px;
	margin: 0 auto;
	border-left: 1px solid #ED3C97;
}

ul.lista {
	width: 100%;
	padding-left: 0px;
}

ul.lista li {
	font-size: 14px;
} 

a.button-indebox {
	text-decoration: none;
	float: left;
	padding: 10px 0px;
	background: #8DDAE0;
	text-align: center;
	border-bottom: 5px solid #0496a2;
	font-size: 16px;
	margin-top: 10px;
}
/* bootstrap */


.button-indebox-pink {
	min-width: 120px;
	height: 40px;
	background: #ED3C97;
	font-size: 18px;
	color: #fff;
	border: 0;
	cursor: pointer;
}

.button-indebox-pink:hover {
	background: #E42578;
}

.button-indebox-pink-add {
	float: right;
	height: 35px;
	background: #ED3C97;
	font-size: 16px;
	color: #fff;
	border: 0;
	cursor: pointer;
}

.button-indebox-pink-add:hover {
	background: #E42578;
}

.button-indebox-pink-remove {
	float: right;
    background: #ED3C97;
    font-size: 12px;
    color: #fff;
    border: 0;
    cursor: pointer;
}

.button-indebox-pink-remove:hover {
	background: #E42578;
}


.container-bottom {
	margin-bottom: 30px;
}

.container-bottom .servicosLista .servicos {
	padding-left: 0px;
}

.container-bottom .servicosLista .servicos li {
	text-decoration: none;
	float: left;
	width: 15.35%;
	height: 160px;
	margin: 5px;
	background: #8DDAE0;
	text-align: center;
	display: block;
	text-transform: uppercase;
	border-bottom: 5px solid #0496a2;
	min-width: 150px;
}

.container-bottom .servicosLista .servicos li a {
	text-decoration: none;
	padding: 20px 10px;
    display: block;
    height: 160px;
}

.container-bottom .servicosLista .servicos li i{
	font-size: 4.5em;
	display: block;
	margin-bottom: 5px;
}

.container-bottom .servicosLista .servicos li span{
	font-size: 1em;
}

.container-right img.banner-servicos {
	width: 100%;
	margin-top: 30px;
}

#accordion .panel-default .panel-collapse .panel-body {
	text-align: justify;
}

#accordion .panel-default .panel-heading > a {
	text-decoration: none;
	color: #ED3C97;
}

#accordion .panel-default .panel-heading:hover {
	background-color: #DADADA;
}

/* MAX-WIDTH: 480px ***MOBILE*** */
@media (max-width: 480px) {
	.container-bottom .servicosLista .servicos li {
		margin-left: 25%;
	}

    .container-body .container-right ul.lista li {
        line-height: inherit;
        height: 40px;
    }
}
	
/* MAX-WIDTH: 767px ***MOBILE*** */
@media (max-width: 767px) {
	.container-body .container-left, .container-body .container-right {
		width: 90%;
		margin-left: 5%;
	}

	.container-body .container-center {
		display: none;
	}

	.container-bottom .servicosLista .servicos li {
		width: 31.35%;
	}
}


@media (min-width: 768px) and (max-width: 980px) {
	.container-bottom .servicosLista .servicos li {
		width: 31.35%;
	}
}
	
/* (MIN-WIDTH: 1200px) */
@media (min-width: 1200px) {
	body {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}
}

.navbar-impacta .navbar-menu,
.navbar-impacta .impacta-busca,
.impacta-cart,
footer > .container {
    display: none !important;
}

footer {
    min-height: 40px !important;
    height: auto !important;
}

#orcamento .page-theme .h1,
#orcamento .page-theme .h2,
#orcamento .page-theme .h3,
#orcamento .page-theme .h4,
#orcamento .page-theme .h5,
#orcamento .page-theme .h6,
#orcamento .page-theme h1,
#orcamento .page-theme h2,
#orcamento .page-theme h3,
#orcamento .page-theme h4,
#orcamento .page-theme h5,
#orcamento .page-theme h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

    #orcamento .page-theme .h1 .small,
    #orcamento .page-theme .h1 small,
    #orcamento .page-theme .h2 .small,
    #orcamento .page-theme .h2 small,
    #orcamento .page-theme .h3 .small,
    #orcamento .page-theme .h3 small,
    #orcamento .page-theme .h4 .small,
    #orcamento .page-theme .h4 small,
    #orcamento .page-theme .h5 .small,
    #orcamento .page-theme .h5 small,
    #orcamento .page-theme .h6 .small,
    #orcamento .page-theme .h6 small,
    #orcamento .page-theme h1 .small,
    #orcamento .page-theme h1 small,
    #orcamento .page-theme h2 .small,
    #orcamento .page-theme h2 small,
    #orcamento .page-theme h3 .small,
    #orcamento .page-theme h3 small,
    #orcamento .page-theme h4 .small,
    #orcamento .page-theme h4 small,
    #orcamento .page-theme h5 .small,
    #orcamento .page-theme h5 small,
    #orcamento .page-theme h6 .small,
    #orcamento .page-theme h6 small {
        font-weight: 400;
        line-height: 1;
        color: #777;
    }

#orcamento .page-theme .h1,
#orcamento .page-theme .h2,
#orcamento .page-theme .h3,
#orcamento .page-theme h1,
#orcamento .page-theme h2,
#orcamento .page-theme h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

    #orcamento .page-theme .h1 .small,
    #orcamento .page-theme .h1 small,
    #orcamento .page-theme .h2 .small,
    #orcamento .page-theme .h2 small,
    #orcamento .page-theme .h3 .small,
    #orcamento .page-theme .h3 small,
    #orcamento .page-theme h1 .small,
    #orcamento .page-theme h1 small,
    #orcamento .page-theme h2 .small,
    #orcamento .page-theme h2 small,
    #orcamento .page-theme h3 .small,
    #orcamento .page-theme h3 small {
        font-size: 65%;
    }

#orcamento .page-theme .h4,
#orcamento .page-theme .h5,
#orcamento .page-theme .h6,
#orcamento .page-theme h4,
#orcamento .page-theme h5,
#orcamento .page-theme h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

    #orcamento .page-theme .h4 .small,
    #orcamento .page-theme .h4 small,
    #orcamento .page-theme .h5 .small,
    #orcamento .page-theme .h5 small,
    #orcamento .page-theme .h6 .small,
    #orcamento .page-theme .h6 small,
    #orcamento .page-theme h4 .small,
    #orcamento .page-theme h4 small,
    #orcamento .page-theme h5 .small,
    #orcamento .page-theme h5 small,
    #orcamento .page-theme h6 .small,
    #orcamento .page-theme h6 small {
        font-size: 75%;
    }

#orcamento .page-theme .h1, #orcamento .page-theme h1 {
    font-size: 36px;
}

#orcamento .page-theme .h2, #orcamento .page-theme h2 {
    font-size: 30px;
}

#orcamento .page-theme .h3, #orcamento .page-theme h3 {
    font-size: 24px;
}

#orcamento .page-theme .h4, #orcamento .page-theme h4 {
    font-size: 18px;
}

#orcamento .page-theme .h5, #orcamento .page-theme h5 {
    font-size: 14px;
}

#orcamento .page-theme .h6, #orcamento .page-theme h6 {
    font-size: 12px;
}

#orcamento * {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#orcamento .iradio_escolas-default {
    -webkit-transition: none;
    transition: none;
}

#orcamento {
    background-color: rgb(240, 240, 240);
    font-family: 'Open Sans', sans-serif;
}

    #orcamento p {
        font-size: 14px;
    }

    #orcamento .page-theme {
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.07);
        margin: 20px 0;
        padding: 50px;
        display: inline-block;
    }

        #orcamento .page-theme h1 {
            float: left;
            font-family: 'Open Sans', sans-serif;
        }

            #orcamento .page-theme h1 img {
                height: 47px;
                margin-left: 14px;
            }

        #orcamento .page-theme h2 {
            font-size: 29px;
            line-height: 40px;
            color: rgb(44, 44, 44);
            opacity: 0.6;
            margin: 20px 0px;
        }

            #orcamento .page-theme h2 small {
                display: block;
                font-size: 10px;
                text-transform: uppercase;
                text-align: right;
            }

    #orcamento .row-fluid {
        display: block;
        clear: both;
    }

    #orcamento .box-ambientes,
    #orcamento .box-forma-de-pagamento{
        margin-top:50px;
    }

    #orcamento .page-theme h6 {
        font-size: 11px;
        margin: 0;
    }

    #orcamento .page-theme h3 {
        font-size: 22px;
        margin: 12px 0;
        color: #ED3C97;
        text-decoration: none;
        padding: 0;
        border-bottom: rgba(141, 218, 224, 0.50) 3px double;
    }

    #orcamento a .fa {
        color: #999;
    }

    #orcamento a:hover .fa {
        color: #000;
    }

    #orcamento .page-theme h4 {
        font-size: 14px;
        font-weight: 600;
        margin: 0;
        line-height: 20px;
        word-break: break-word;
    }

    #orcamento .page-theme address {
        font-size: 12px;
    }

    #orcamento .table thead tr th {
        text-transform: uppercase;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        padding-top: 14px;
        padding-bottom: 14px;
        vertical-align: middle;
        border-bottom: 1px solid rgba(230, 230, 230, 0.7);
        color: rgba(44, 44, 44, 0.35);
        width: 50%;	
    }

        #orcamento .table thead tr th.qtd {
            width: 10%;
        }

        #orcamento .table thead tr th.value {
            width: 15%;
        }

    #orcamento .table tbody tr td {
        border-bottom: 1px solid rgba(230, 230, 230, 0.7);
        border-top: 0px;
        padding: 15px;
        font-size: 13.5px;
        line-height: 1.5;
        vertical-align: top;
    }

        #orcamento .table tbody tr td small {
            display: block;
            color: rgb(98, 98, 98);
        }

    #orcamento .orcamento-data {
        float: right;
        margin-top: 94px;
    }

    #orcamento .table-condensed.table tbody tr td {
        padding-top: 2px;
        padding-bottom: 2px;
        line-height: 20px;
        font-size: 13px;
    }

    #orcamento .table-radio tbody tr td {
        cursor: pointer;
    }

    #orcamento .total {
        font-size: 33px;
        line-height: 49px;
        background-color: rgb(43, 48, 59);
        color: #FFF;
    }

        #orcamento .total h1 {
            font-size: 40px;
            text-align: right;
            width: 100%;
            font-family: 'Open Sans', sans-serif;
            font-weight: 100;
        }

    #orcamento .btn-success {
        min-width: 150px;
        max-width: 100%;
    }

    #orcamento #btn-print {
        color: #999;
        text-decoration: none;
    }

        #orcamento #btn-print:hover {
            color: rgb(60, 118, 61);
        }

    #orcamento .como-funciona h3 {
        margin: 40px;
        font-weight: 700;
        color: #4F5D73;
    }

    #orcamento .box-pagante input ,
    #orcamento .box-endereco input {
        background-color: transparent;
        padding: 2px;
        border: none;
        border-bottom: 1px dotted #000;
    }

    #orcamento .box-endereco .col-sm-12,
    #orcamento .box-endereco .col-sm-4,
    #orcamento .box-endereco .col-sm-6{
        padding-left:0px !important;
    }

    #orcamento .col-orcamento-data {
        margin: 50px 0;
    }

    #orcamento .box-total {
        margin: 15px;
        padding-right: 40px;
    }

@media (max-width: 992px) {
    #orcamento .page-retirada h1 {
        text-align: center;
    }

    #orcamento .table thead tr th.qtd {
        width: auto;
    }

    #orcamento .table thead tr th.value {
        width: auto;
    }

    #orcamento .orcamento-data {
        float: right;
        margin-top: 0px;
    }

    #orcamento .page-theme {
        padding: 20px;
    }
}

@media (max-width: 768px) {
    body {
        padding-bottom: 25px;
    }

    footer {
        display: none !important;
    }

    #btn-form-orcamento {
        position: fixed !important;
        bottom: 0;
        width: 100%;
        left: 0;
        padding: 10px;
    }

    #orcamento .table thead tr th {
        font-size: 12px;
    }

    #orcamento .page-theme h2 {
        font-size: 20px;
        margin-bottom: 0;
        margin-right: 10px;
        margin-top: 10px;
    }

    #orcamento .page-theme h1 img {
        height: 32px;
    }

    #orcamento .page-theme,
    #form-orcamento .container {
        padding: 0 !important;
        margin: 0 !important;
    }

    #orcamento .page-theme {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

        #orcamento .page-theme h1 {
            margin-top: 10px;
        }

    #orcamento #btn-print {
        display: none;
    }

    #orcamento .page-theme h3 {
        font-size: 18px;
    }

    #orcamento .col-orcamento-data {
        margin: 20px 0;
    }

    .mtb50 {
        margin: 0;
    }

    #orcamento .table tbody tr td {
        padding: 5px;
        font-size: 12px;
    }

    #orcamento .col-md-12 {
        padding-right: 0;
    }

    #orcamento .total h1 {
        font-size: 18px;
    }

    #orcamento .box-total {
        position: relative;
        margin: 0;
        margin-bottom: 15px;
    }

    #orcamento .total {
        font-size: 33px;
        line-height: 49px;
        background-color: rgb(43, 48, 59);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px !important;
    }

    .max-62 {
        max-width: 62px;
    }

    #orcamento p {
        font-size: 12px;
    }
}

@media print {
    body {
        padding-top: 0;
    }

    .mtb50 {
        margin: 0 !important;
    }

    pre,
    body > header,
    body > footer,
    #popup-chat {
        display: none !important;
    }

    #orcamento .orcamento-data {
        margin: 0;
    }

    #orcamento p {
        font-size: 11px;
    }

    .b-grey,
    #orcamento .page-theme {
        border: none;
        padding: 0 !important;
        margin: 0 !important;
    }

        #orcamento .page-theme h2 {
            padding: 0;
            margin: 0;
            margin-top: 0px;
        }

        #orcamento .page-theme h3 {
            font-size: 12px;
            font-weight: 600;
            margin: 0;
        }

    #orcamento .total .text-white {
        color: #000 !important;
    }

    #orcamento .alert-info,
    #orcamento .alert-info * {
        color: rgb(49, 112, 143) !important;
    }

    #orcamento .table tbody tr td {
        padding: 2px;
        font-size: 11px;
    }

    #orcamento .total {
        font-size: 12px;
        font-weight: 700;
    }

        #orcamento .total h1 {
            font-size: 12px;
            font-weight: 400;
            margin: 0;
        }
}
.box-ambientes .form-group div input, .form-group div textarea {
    margin-bottom: 20px;
    height: 38px;
    padding: 0 10px;
    line-height: 40px;
    background: #FAFAFA;
    border: 1px solid #ddd;
    color: #777;
    font-family: 'aller', arial;
    border-radius: 0px;
}

.form-group div input[type=file] {
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 95%;
}

img.inputfile {
    position: absolute;
    top: 0px;
    right: 16px;
}

.form-group div input[type=radio] {
    height: 14px;
}

.form-group div textarea {
    height: inherit;
    width: 100%;
}

.form-group div input[type=text]:focus,
.form-group div input[type=number]:focus,
.form-group div input[type=email]:focus,
.form-group div textarea:focus {
    outline: inherit;
    border-color: #ED3C97;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(237,60,151,.6);
}

form .formleft {
    padding-left: 0px;
}

form .formright {
    padding-right: 0px;
}

 .formright .form-group {
    margin-bottom: inherit;
}

button.button-indebox-pink {
    margin-left: 15px;
}

.item-estilo::after {
    display: block;
    content: " ";
    clear: both;
}

.item-estilo {
    position: relative;
    background: #A7E4EA;
    padding: 10px;
    margin: 15px;
    border: #777 2px dashed;
}

.item-estilo span {
    float: left;
}

.item-estilo span b {
    width: 110px;
    display: inline-block;
}

.item-estilo .btn-editar,
.item-estilo .btn-fechar {
    position: absolute;
    top: 5px;
    color: white;
}

.item-estilo .btn-fechar {
    right: 5px;
    background: #F36F6F;;
    padding: 1px 5px;
}

.item-estilo .btn-editar {
    right: 30px;
    background: #5D79C5;
    padding: 4px 4px;
}
#endereco-entrega {
    display: none;
}

#endereco-entrega span {
    width: 100%;
}

.item-estilo .btn-fechar:hover {
    background: #FF4848;
    cursor: pointer;
}

.item-estilo .btn-editar:hover {
    background: #0045FF;
    cursor: pointer;
}

.itens span.preco {
    display: inline-block;
    font-size: 24px;
    line-height: 20px !important;
    position: absolute;
    right: 110px;
}

button#finalizar-compra {
    display: none;
}


/* MAX-WIDTH: 480px ***MOBILE*** */
@media (max-width: 480px) {

}

/* MAX-WIDTH: 767px ***MOBILE*** */
@media (max-width: 767px) {
    /* #carousel-banner-indebox {
        width: 100%;
    }	 */
}


@media (min-width: 768px) and (max-width: 980px) {
    /* #carousel-banner-indebox {
        width: 100%;
    } */
}

.ambiente-fotos img{
    padding-bottom:10px;
}

.ambiente-fotos .img{
   width:100%;
}

.ambiente-fotos .box-img{
    position:relative;
    z-index:0;
}

.ambiente-fotos .box-img .close{
    position:absolute;
    right:13px; 
    top:0px; /* Will place the close image in the top right edge of the image */
    display:none;
    z-index:1;
}

.ambiente-fotos .box-img:hover .close{
    display:block;
}