/* #carousel-banner-indebox {
	width: 76.66%;
	margin: 0 auto;
	min-width: 960px;
} */

.header .header-container .main-menu ul li a#menu-design-online{
    color: rgb(237, 60, 151); 
}

.container-main-page .carousel .carousel-inner img {
	width: 100%;
	max-height: 500px;
	min-height: 200px;
}

/* .carousel-control.right {
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(86, 196, 207, 1) 100%);
	background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(86, 196, 207, 1) 100%);
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(86, 196, 207, 1)));
	background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(86, 196, 207, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
	background-repeat: repeat-x;
}

.carousel-control.left {
	background-image: -webkit-linear-gradient(left,rgba(86, 196, 207, 1) 0,rgba(0,0,0,.0001) 100%);
	background-image: -o-linear-gradient(left,rgba(86, 196, 207, 1) 0,rgba(0,0,0,.0001) 100%);
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(86, 196, 207, 1)),to(rgba(0,0,0,.0001)));
	background-image: linear-gradient(to right,rgba(86, 196, 207, 1) 0,rgba(0,0,0,.0001) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
	background-repeat: repeat-x;
} */

.container-body .container-center .border-center {
	min-height: 250px;
}

.container-body {
	border-top: 1px solid #D6D6D6;
	margin-top: 20px;
}

ul.descricaoPlanos {
    float: left;
    width: 100%;
    margin-top: 50px;
    list-style: none;
    text-align: center;
}

ul.descricaoPlanos li {
    width: 33.33%;
    height: auto;
    float: left;
    padding: 10px;
}

.container-body .container-left ul.descricaoPlanos li div span.title-plano {
    width: 100%;
    line-height: 40px;
    float: left;
    background: #777;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    font-style: italic;
    border-bottom: #535353 5px solid;
}

ul.descricaoPlanos li div.planos {
    height: 390px;
    background: #F5F5F5;
    padding: 20px;
    border: 1px solid #D6D6D6;
}

ul.descricaoPlanos li div.border {
    padding: 5px;
    height: 410px;
    border-bottom: 5px solid transparent;
}

ul.descricaoPlanos li div p {
    width: 100%;
    height: 210px;
    float: left;
    font-size: 13px;
    margin: 20px 0;
}

ul.descricaoPlanos li div h3.startPlano {
    width: 100%;
    height: 40px;
    line-height: 40px;
    float: left;
    background: #DDD;
    color: #777;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    font-weight: normal;
    cursor: pointer;
    border-bottom: #8d8d8d 5px solid;
}

ul.descricaoPlanos li div.border:hover,
.container-body .container-left ul.descricaoPlanos li div.border:hover div span.title-plano {
    background: #56C6D0;
    cursor: pointer;
    border-bottom: 5px solid #0496a2;
}

.depoimentos h1 {
    font-weight: normal;
    text-align: center;
    font-size: 30px;
    color: #ED3C97;
    text-decoration: none;
    padding: 0;
    margin-bottom: 15px;
    border-bottom: rgba(141, 218, 224, 0.50) 3px double;
    height: 40px;
}

.depoimentos ul.listaDepoimentos {
    float: left;
    margin-top: 20px;
    width: 100%;
    list-style: none;
}

.depoimentos ul.listaDepoimentos li {
    float: left;
    width: 33.33%;
    display: table;
    border-right: 1px solid #EB3A97;
    margin-bottom: 30px;
    position: relative;
}

.depoimentos ul.listaDepoimentos li .aspasOpen {
    position: absolute;
    left: -35px;
    background: url(../img/aspas_open.png) no-repeat center center;
}


.depoimentos ul.listaDepoimentos li .aspasClose {
    position: absolute;
    right: -35px;
    bottom: 0px;
    background: url(../img/aspas_close.png) no-repeat center center;
}

.depoimentos ul.listaDepoimentos li .aspasOpen, .depoimentos ul.listaDepoimentos li .aspasClose {
    width: 35px;
    height: 30px;
    z-index: 0;
}

.depoimentos ul.listaDepoimentos li .depoimentoTexto {
    width: 170px;
    position: relative;
    margin: auto;
}

.depoimentos ul.listaDepoimentos li p {
    position: relative;
    text-align: center;
    margin: auto;
    width: 170px;
    font-size: 13px;
    line-height: 17px;
}

.depoimentos ul.listaDepoimentos li p.assinatura {
    color: #EB3A97;
    margin-top: 6px;
    border-top: 1px solid #EB3A97;
    padding-top: 6px;
}

/* MAX-WIDTH: 480px ***MOBILE*** */
@media (max-width: 480px) {

}

/* MAX-WIDTH: 767px ***MOBILE*** */
@media (max-width: 767px) {
	/* #carousel-banner-indebox {
		width: 100%;
	}	 */
}


@media (min-width: 768px) and (max-width: 980px) {
	/* #carousel-banner-indebox {
		width: 100%;
	} */
}