body div.footer {
	width: 100%;
	height: 400px;
	background: #D7D7D7;
	border-top: 1px solid #BEBBBB;
	padding-left: 0px;
	padding-right: 0px;
}

body div.footer .footer-img {
	text-align: center;
}

body div.footer .footer-img img{
	margin-top: -1px;
}

body div.footer .footer-container .formadepagamento {
  	width: 100%;
  	background: #E3E3E3;
	border-top: 1px solid rgb(194, 190, 190);
	border-bottom: 1px solid rgb(194, 190, 190);
	padding: 25px 0;
	text-align: center;
	float: left;
	margin-top: 40px;
}

body div.footer .footer-container .copyright {
  	width: 100%;
  	height: 30px;
  	padding-top: 5px;
  	font-size: 12px;
  	text-align: center;
  	float: left;
}

body div.footer .mapa-site-links {
	margin-top: 20px;
}

body div.footer .mapa-site-links .mapa-links-topico .mapa-links-topico-title{
	color: #ED3C97;
	font-size: 15px;
	padding-bottom: 3px;
	border-bottom: 2px solid #ED3C97;
	margin-bottom: 10px;
}

body div.footer .mapa-site-links .mapa-links-topico .mapa-links-topico-link ul{
	padding: 0px;
}

body div.footer .mapa-site-links .mapa-links-topico .mapa-links-topico-link li{
	list-style: none;
	float: left;
	width: 100%;
	height: 20px;
}

body div.footer .mapa-site-links .mapa-links-topico .mapa-links-topico-link li a{
	color: #777;
	text-decoration: none;
}

body div.footer .mapa-site-links .mapa-links-topico .mapa-links-topico-link li a:hover{
	color: #ED3C97;
}

.mapa-links-topico-regulamento ul li{
	list-style: none;
	float: left;
	width: 100%;
	height: 26px;
	line-height: 26px;
	background: #B4B4B4;
	margin-bottom: 4px;
	text-align: center;
}

.mapa-links-topico-regulamento ul a{
	color: #fff;
	text-decoration: none;
	font-size: 12px;
}

.mapa-links-topico-regulamento ul li:hover {
	background: #A0A0A0;
}

.mapa-links-topico-img img {
	width: 200px;
	margin-left: 20px;
}

.mapa-links-contatos ul li{
	list-style: none;
}

.mapa-links-contatos ul li span, 
.mapa-links-contatos ul li a {
	font-size: 20px;
	color: #777;
	line-height: 1.5;
	text-decoration: none;
}

.mapa-links-contatos ul li.telefone span:hover {
	color: #000;
}

.mapa-links-contatos ul li.pinterest a:hover {
	color: #e63d44;
}

.mapa-links-contatos ul li.facebook a:hover {
	color: #3b5998;
}

.mapa-links-contatos ul li.skype span:hover {
	color:rgb(1, 174, 242);
}

.mapa-links-contatos ul li.instagram a:hover {
	color: #3b5998;
}

.modal-footer .checkbox {
	float: left;
}

/* MAX-WIDTH: 480px ***MOBILE*** */
@media (max-width: 480px) {
	
	body div.footer {
		height: 900px !important;
	}		
}

@media (max-width: 767px) {
	
	.mapa-links-topico-img img, .mapa-links-topico-regulamento ul {
		margin-left: 0px;
		padding-left: 0px;
	}

	body div.footer {
		height: 860px;
	}

	body div.footer .mapa-site-links .mapa-links-topico {
		margin-top: 10px;
	}
}
	
@media (min-width: 768px) and (max-width: 980px) {
	
	body div.footer {
		height: 570px;
	}	
	
	.mapa-links-topico-img img, .mapa-links-topico-regulamento ul {
		margin-left: 0px;
		padding-left: 0px;
	}

	body div.footer .mapa-site-links .mapa-links-topico {
		margin-top: 15px;
	}

}