@import url('../vendors/fotorama-4.6.4/fotorama.css');

.header .header-container .main-menu ul li a#menu-galeria {
	color: rgb(237, 60, 151); 
}

.fotorama-wrap {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: rgba(71, 70, 70, 0.72);
	z-index: 999999;
	display: none;
}
.fotorama-wrap .btn-close-slideshow {
	position: absolute;
	right: 0;
	background: rgb(113, 197, 213);
	border: 0;
	width: 60px;
	height: 60px;
}

.fotorama-wrap .btn-close-slideshow:hover {
	background: rgb(159, 210, 219);
}

.fotorama-wrap .btn-close-slideshow i {
	font-size: 2.5em;
	color: rgb(255, 255, 255);
	margin-bottom: 4px;
}

.fotorama-wrap .fotorama {
	margin: 5% 25%;
}

.container-left .grupo-galeria .album {
	position: relative;
	height: 315px;
	width: 100%;
    overflow: hidden;
    border: solid 2px #56C4CF;
}

.container-left .grupo-galeria .album > img {
	width: 100%;
	height: 315px;
	position: absolute;
}


.container-left .grupo-galeria .album .description {
    position: absolute;
    top: 265px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    height: 311px;
    text-align: center;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -ms-transition-duration: 1s;
    -o-transition-duration: 1s;
}

.container-left .grupo-galeria .album .description span {
    color: white;
    display: block;	
}

.container-left .grupo-galeria .album .description span:nth-child(1) {
    font-size: 2em;
    position: relative;
}

.container-left .grupo-galeria .album .description span:nth-child(2) {
    position: relative;
    margin-top: 24%;
}

.container-left .grupo-galeria .album:hover .description {
	top: 0px;
}
.container-left .grupo-galeria {
	margin-top: 15px;
	margin-bottom: 15px;
	cursor: pointer;
}

/* MAX-WIDTH: 480px ***MOBILE*** */
@media (max-width: 480px) {

	
}
	
/* MAX-WIDTH: 767px ***MOBILE*** */
@media (max-width: 767px) {
	
	.fotorama-wrap .btn-close-slideshow {
		width: 40px;
		height: 40px;
	}

	.fotorama-wrap .btn-close-slideshow i {
		font-size: 2em;
		margin-bottom: 4px;
	}
}

