.header .header-container .main-menu ul li a#menu-nossos-servicos{
	color: rgb(237, 60, 151); 
}

.container-body .container-left a.button-indebox {
	width: 270px;
}

.container-body .container-left ul.lista li {
	margin-left: 15px;
}

/* MAX-WIDTH: 480px ***MOBILE*** */
@media (max-width: 480px) {
	.container-main-page .container-body .container-left h1 {
		font-size: 1.7em;
	}
}