.header{
	width: 100%;
  	height: 95px;
	margin: 0;
	background: white;
	/* border-bottom: 1px solid #D6D6D6; */
	z-index: 1000;
	border-bottom: rgba(141, 218, 224, 0.50) 4px double;
	margin-bottom: 20px;
}

.header .header-container{
	max-width: 980px;
	margin: 5px auto;
}
	.header .header-container:after{
		display: block;
		content: " ";
		clear: both;
	}

.header .header-container .logo{
	position: relative;
	float: left;
	left: 10px;
}

.header .header-container .main-menu{
	margin-top: 35px;
	position:relative;
	float: right;
}


.header .header-container .logo img{
	cursor: pointer;
}

.header .header-container .logo .img-logo{
	display: block;
}

.header .header-container .logo .img-logo-small{
	display: none;
}

.header .header-container .main-menu ul{
	list-style: none;
	margin:0;
}
.header .header-container .main-menu ul:after{
	display: block;
	content: " ";
	clear: both;
}
.header .header-container .main-menu ul li{
	float: left;
	padding: 0 5px;

}

.header .header-container .main-menu ul li div{
	height:56px; 
	display: table-cell; 
	vertical-align:middle; 
	text-align:center;
	width:inherit;
}


.header .header-container .main-menu ul li a{
	display: block;
	list-style: none;
	text-align: center;
	-webkit-transition: all 0.4s; 
	Safari transition: all 0.5s;
	padding: 10px;
	color: #53C5D0;
	text-decoration: none;
	font-size: 16px;
	margin-right: 2px;
	font-weight: bold;
}
.header .header-container .main-menu ul li a:hover{
	color: rgb(237, 60, 151);
	border-bottom: 1px solid rgb(237, 60, 151);
}

#slicknav {
	display: none;
}

/* MAX-WIDTH: 480px ***MOBILE*** */
@media (max-width: 480px) {
	
	.header .header-container {
		padding: 0;
	}	
}
	
/* MAX-WIDTH: 767px ***MOBILE*** */
@media (max-width: 767px) {
	
	.header {
		height: 40px;
		margin-bottom: 0px; 
	}

	.header .header-container{
		margin-left: 10px;
	}
	
	.header .header-container .logo{
		left: inherit;
	}

	.header .header-container .logo .img-logo{
		display: none;
	}

	.header .header-container .logo .img-logo-small{
		display: block;
		width: 130px;
	}

	.header .header-container .main-menu {
		display: none;
	}

	#slicknav {
		display: block;
		position: relative;
		width: 100%;
	}
		
		#slicknav .slicknav_menu .slicknav_nav li {
			border-bottom: 1px solid #D6D6D6;
		}
		#slicknav .slicknav_menu .slicknav_nav li:last-child {
			border-bottom: 1px solid #D6D6D6;
		}
		
		#slicknav .slicknav_menu .slicknav_nav a {
			font-size: 16px;
			font-weight: bold;
			color: #57C4CF;
		}
		#slicknav .slicknav_menu .slicknav_nav a:hover{
			border-radius: 0px;
			background: transparent;
			color: #FF3398;
		}

		#slicknav .slicknav_menu .slicknav_btn {
			border: 1px solid #FF3398;
			background-color: transparent;
			padding: 0.438em 0.425em 0.438em 0.425em;
			position: absolute;
			right: 0px;
			top: -42px;
		}

		#slicknav .slicknav_menu .slicknav_btn .slicknav_icon span{
			width: 1.225em;
  			height: 2px;
  			background-color: #57C4CF;
		}

		.slicknav_menu {
  			background: transparent;
			padding: 0px;
		}
	
	.main-menu {
		display: none;
	}
}


@media (min-width: 768px) and (max-width: 980px) {

	.header{
		height: 80px;
	}

	.header .header-container .logo .img-logo{
		width: 195px;
	}

	.header .header-container .main-menu{
		margin-top: 20px;
	}

	.header .header-container .main-menu ul li a {
		padding: 5px;
	}
	
}
	
/* (MIN-WIDTH: 1200px) */
@media (min-width: 1200px) {
	.header {
		width: 1200px;
	}
}