.header .header-container .main-menu ul li a#menu-home{
	color: rgb(237, 60, 151); 
}

/* #carousel-banner-indebox {
	width: 76.66%;
	margin: 0 auto;
	min-width: 960px;
} */

.container-main-page .carousel .carousel-inner img {
	width: 100%;
	max-height: 500px;
	min-height: 200px;
}

/* .carousel-control.right {
	background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(86, 196, 207, 1) 100%);
	background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(86, 196, 207, 1) 100%);
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(86, 196, 207, 1)));
	background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(86, 196, 207, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
	background-repeat: repeat-x;
}

.carousel-control.left {
	background-image: -webkit-linear-gradient(left,rgba(86, 196, 207, 1) 0,rgba(0,0,0,.0001) 100%);
	background-image: -o-linear-gradient(left,rgba(86, 196, 207, 1) 0,rgba(0,0,0,.0001) 100%);
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(86, 196, 207, 1)),to(rgba(0,0,0,.0001)));
	background-image: linear-gradient(to right,rgba(86, 196, 207, 1) 0,rgba(0,0,0,.0001) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
	background-repeat: repeat-x;
} */

.container-body .container-center .border-center {
	min-height: 250px;
}

.container-body {
	border-top: 1px solid #D6D6D6;
	border-bottom: 1px solid #D6D6D6;
	margin-top: 20px;
}

/* .container-body .container-right ul.lista {
	width: 100%;
	height: 100%;
	list-style: none;
	padding-left: 0px;
}
 */
.container-body .container-right ul.lista li {
	margin-bottom: 2px;
	float: left;
	width: 100%;
	height: 35px;
	line-height: 35px;
	color: #fff;
	background: #ED3C97;
	background-position: 0px center; 
	padding: 0 5%;
}

.container-body .container-right ul.lista li:before {
    content: "";
	display: list-item;
	width: 1px;
	height: 1px;
}


/* MAX-WIDTH: 480px ***MOBILE*** */
@media (max-width: 480px) {
	
}
	
/* MAX-WIDTH: 767px ***MOBILE*** */
@media (max-width: 767px) {
	/* #carousel-banner-indebox {
		width: 100%;
	}	 */
}


@media (min-width: 768px) and (max-width: 980px) {
	/* #carousel-banner-indebox {
		width: 100%;
	} */
}