.header .header-container .main-menu ul li a#menu-nossos-servicos {
	color: rgb(237, 60, 151); 
}

.container-left .row {
	padding: 10px 0;
}

.container-left .row:hover {
	background: #F7F7F7;
}

.container-left .row div p{
	color: #777;
	font-family: 'aller',arial;
	font-size: 14px;
}

.container-left .row div.icon-servicos {
	text-align: center;
}

.container-left .row div.icon-servicos i {
	width: 120px;
	font-size: 5em;
	margin-top: 5%;
	text-decoration: none;
	float: left;
	padding: 20px;
	background: #8DDAE0;
	text-align: center;
	border-bottom: 5px solid #0496a2;
}

.container-left .row div h1 {
	font-size: 2em;
	color: #ED3C97;
	text-decoration: none;
	padding: 0;
	margin-bottom: 15px;
	border-bottom: rgba(141, 218, 224, 0.50) 3px double;
	height: 40px;
}

@media (max-width: 480px) {
	.container-left .row div h1 {
		font-size: 1.7em;
	}
}

/* MAX-WIDTH: 767px ***MOBILE*** */
@media (max-width: 767px) {
	.container-left .row div.icon-servicos {
		display: none;
	}
	
	.container-left .row div {
		width: 100%;
	}
}


@media (min-width: 768px) and (max-width: 980px) {
	.container-left .row div.icon-servicos i {
		height: 145px;
	}
}