.form-group div input, .form-group div textarea {
    margin-bottom: 20px;
    height: 38px;
    padding: 0 10px;
    line-height: 40px;
    background: #FAFAFA;
    border: 1px solid #ddd;
    color: #777;
    font-family: 'aller', arial;
    border-radius: 0px;
}

.form-group div input[type=file] {
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 95%;
}

img.inputfile {
    position: absolute;
    top: 0px;
    right: 16px;
}

.form-group div input[type=radio] {
    height: 14px;
}

.form-group div textarea {
    height: inherit;
    width: 100%;
}

.form-group div input[type=text]:focus,
.form-group div input[type=number]:focus,
.form-group div input[type=email]:focus,
.form-group div textarea:focus {
    outline: inherit;
    border-color: #ED3C97;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(237,60,151,.6);
}

form .formleft {
    padding-left: 0px;
}

form .formright {
    padding-right: 0px;
}

 .formright .form-group {
    margin-bottom: inherit;
}

button.button-indebox-pink {
    margin-left: 15px;
}

.item-estilo::after {
    display: block;
    content: " ";
    clear: both;
}

.item-estilo {
    position: relative;
    background: #A7E4EA;
    padding: 10px;
    margin: 15px;
    border: #777 2px dashed;
}

.item-estilo span {
    float: left;
}

.item-estilo span b {
    width: 110px;
    display: inline-block;
}

.item-estilo .btn-editar,
.item-estilo .btn-fechar {
    position: absolute;
    top: 5px;
    color: white;
}

.item-estilo .btn-fechar {
    right: 5px;
    background: #F36F6F;;
    padding: 1px 5px;
}

.item-estilo .btn-editar {
    right: 30px;
    background: #5D79C5;
    padding: 4px 4px;
}
#endereco-entrega {
    display: none;
}

#endereco-entrega span {
    width: 100%;
}

.item-estilo .btn-fechar:hover {
    background: #FF4848;
    cursor: pointer;
}

.item-estilo .btn-editar:hover {
    background: #0045FF;
    cursor: pointer;
}

.itens span.preco {
    display: inline-block;
    font-size: 24px;
    line-height: 20px !important;
    position: absolute;
    right: 110px;
}

button#finalizar-compra {
    display: none;
}


/* MAX-WIDTH: 480px ***MOBILE*** */
@media (max-width: 480px) {

}

/* MAX-WIDTH: 767px ***MOBILE*** */
@media (max-width: 767px) {
	/* #carousel-banner-indebox {
		width: 100%;
	}	 */
}


@media (min-width: 768px) and (max-width: 980px) {
	/* #carousel-banner-indebox {
		width: 100%;
	} */
}