@media(max-width: 480px){
	.container-main-page .container-body .container-left > h1 {
		font-size: 1.6em;
		height: 60px;
	}
	
}

@media(max-width: 767px){
	.container-main-page .container-body .container-left > h1 {
		height: 70px;
	}
	
}