.header .header-container .main-menu ul li a#menu-sobre-nos{
	color: rgb(237, 60, 151); 
}

.container-body .container-center .border-center {
	min-height: 620px;
}

.container-body .container-left ul.lista li {
	margin-left: 15px;
}

.container-body .container-right img {
	width: 100%;
}

.container-body .container-right a.button-indebox {
	width: 270px;
}

.button-indebox-pink {
	margin-top: 15px;
}

/* MAX-WIDTH: 480px ***MOBILE*** */
@media (max-width: 480px) {
	.container-body .container-right img {
		display: none;
	}
}