.thumb-wrap-16{
    float: left;
    margin: 3px;
    height: 16px;
    width: 16px;
    cursor: pointer;
}
.x-window-body{
    background-color: #FFF !important;
}
.profile-image{
    float: left;
    padding-right: 12px;
}
.profile-info{
    font-size: 12px;
}
.profile-info > h2{
    font-size: 18px;
}
.profile-info > img{
    position: relative;
    top: 2px;
}
.profile-info > p{
    margin-left: 5px;
    display: inline-block;
    width: 300px;
}
.profile-info > label{
    font-size: 10px;
    font-style: italic;
}

#fi-button-msg {
    border: 2px solid #ccc;
    padding: 5px 10px;
    background: #eee;
    margin: 5px;
    float: left;
}

.upload-icon {
    background: url('../img/icons/16/image.png') no-repeat 0 0 !important;
}

.x-form-file-wrap {
    position: relative;
    height: 22px;
}
.x-form-file-wrap .x-form-file {
    position: absolute;
    right: 0;
    -moz-opacity: 0;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
    height: 22px;
}
.x-form-file-wrap .x-form-file-btn {
    position: absolute;
    right: 0;
    z-index: 1;
}
.x-form-file-wrap .x-form-file-text {
    position: absolute;
    left: 0;
    z-index: 3;
    color: #777;
}
.x-panel-body{
    background: white;
    font: 11px Arial, Helvetica, sans-serif;
}
.thumb{
    background: #dddddd;
    padding: 3px;
}
.thumb-wrap{
    float: left;
    margin: 4px;
    margin-right: 0;
    padding: 5px;
}
.thumb-wrap span{
    display: block;
    overflow: hidden;
    text-align: center;
}