table {
	border-spacing: 0;
	border: 0;
}
.cpt {
	text-align: center;
	font-size: 15px;
	/*border: 1px solid blue;*/
}
.ct {
	font-size: 10px;
	/*border: 1px solid green;*/
}
.campo {
	font-size: 10px;
	
}
.campotitulo {
	font-size: 14px;
	/*border: 1px solid yellow;*/
}
.small {
	font-size: 9px;
}
.smaller {
	font-size: 8px;
}
#local-pgto {
	font-size: 10px;
}