<div class="container-main-page">
	<div class="container-body col-md-12 col-sm-12 col-xs-12">
		<div class="error404">
			<h1>404</h1>	
			<span>A página que você procura não pôde ser encontrada!!!</span>
		</div>
	</div>
</div>