﻿<div class="container-main-page">

    <div class="container-body col-md-12 col-sm-12 col-xs-12">
        <p>Ola {$despessoa}</p>
        <p>Seu pagamento de R$ {$vlpedido} para o pedido {$idpedido}/{$year} está em analise no {$desoperadora}</p>
        <p>Atenção: Você receberá um email de confirmação do {$desoperadora} quando a analise for concluida.</p>

        <div class="table-responsive">
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>Status:</td>
                        <td>Em Analise</td>
                    </tr>
                    <tr>
                        <td>Código da Transação</td>
                        <td>{$descodigo}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <p>Após confirmação do pagamento um de nossos consultores entrará em contato com você!</p>
        <p>Agradecemos sua escolha</p>
        <p>Equipe IndeBox</p>
    </div>
</div>
