<div class="container-main-page">
    
    <div class="container-body col-md-12 col-sm-12 col-xs-12">
        <ol class="breadcrumb">
          <li><a href="design-online.php">Design Online</a></li>
          <li class="active"><a href="#">Passo 1 - Informações Básicas e Ambientes</a></li>
        </ol>

        <div class="alert alert-danger">
            <strong>Aviso</strong> Informações complementares serão solicitadas em etapa posterior para execução do trabalho (plantas, fotos e/ou outras observações)
        </div>
        <div class="container-left col-md-12 col-sm-12 col-xs-12" >
            <h2>Informações Básicas</h2>
            <div id="orcamento">
                <form method="POST" id="form-step1">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="desnome">Nome:</label>
                            <input  type="text" class="form-control" placeholder="Digite seu nome completo" name="desnome" id="desnome" tabindex="1" required="required">
                        </div>
                        <div class="row box-pagante">
                            <div class="col-md-12"> 
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Email</th>
                                            <th>Telefone</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td><input type="email" class="form-control" placeholder="Digite seu email" name="desemail" id="desemail" tabindex="2" required="required"></td>
                                            <td><input type="text" class="form-control" placeholder="Digite um telefone para contato" id="destelefone" name="destelefone" tabindex="3" required="required"></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Cidade</th>
                                            <th>Estado</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td><input type="text" class="form-control" placeholder="Digite sua Cidade" name="descidade" id="descidade" tabindex="4" required="required"></td>
                                            <td>
                                                <select class="form-control" style="border:none;" id="desestado">
                                                    <option value="">Selecione um Estado</option>
                                                    <option value="AC">Acre</option>
                                                    <option value="AL">Alagoas</option>
                                                    <option value="AP">Amapá</option>
                                                    <option value="AM">Amazonas</option>
                                                    <option value="BA">Bahia</option>
                                                    <option value="CE">Ceará</option>
                                                    <option value="DF">Distrito Federal</option>
                                                    <option value="ES">Espirito Santo</option>
                                                    <option value="GO">Goiás</option>
                                                    <option value="MA">Maranhão</option>
                                                    <option value="MS">Mato Grosso do Sul</option>
                                                    <option value="MT">Mato Grosso</option>
                                                    <option value="MG">Minas Gerais</option>
                                                    <option value="PA">Pará</option>
                                                    <option value="PB">Paraíba</option>
                                                    <option value="PR">Paraná</option>
                                                    <option value="PE">Pernambuco</option>
                                                    <option value="PI">Piauí</option>
                                                    <option value="RJ">Rio de Janeiro</option>
                                                    <option value="RN">Rio Grande do Norte</option>
                                                    <option value="RS">Rio Grande do Sul</option>
                                                    <option value="RO">Rondônia</option>
                                                    <option value="RR">Roraima</option>
                                                    <option value="SC">Santa Catarina</option>
                                                    <option value="SP">São Paulo</option>
                                                    <option value="SE">Sergipe</option>
                                                    <option value="TO">Tocantins</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" value="{$idplano}" name="idplano" id="idplano" />              
                </form>
            </div>         
        </div>
        <div class="container-left col-md-12 col-sm-12 col-xs-12">
            <h2>Ambientes <button data-toggle="modal" data-target="#modal-adicionarambiente" type="button" class="btn button-indebox-pink-add btn-small">Adicionar Ambiente</button></h2>
            <form id="" method="POST">
                <div id="ambientes" class="col-md-12 col-sm-12 col-xs-12"></div>                
            </form>            
        </div>
        
        <button id="addOrcamento" type="button" class="btn button-indebox-pink-add btn-small">Receba seu Orçamento</button>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modal-adicionarambiente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Adicionar Ambiente</h4>
      </div>
      <div class="modal-body">
        <form id="formambiente" method="POST">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="desambiente">Nome do Ambiente:</label>
                    <input  type="text" class="form-control" placeholder="Digite o nome do ambiente" name="desambiente" id="desambiente" tabindex="11" required="required">
                </div>
                <div class="form-group">
                    <label for="desmetragem">Metragem: (Adicionar apenas números)</label>
                    <input type="number" class="form-control" placeholder="Digite a metragem do ambiente" name="desmetragem" id="desmetragem" tabindex="12" required="required">
                </div>                
            </div>                
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="addAmbiente">Salvar</button>
      </div>
    </div>
  </div>
</div>

