<div class="modal fade" id="moreInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Mais Informa&ccedil;&otilde;es</h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>  
<div class="container-main-page">
    <div id="carousel-banner-design" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-banner-indebox" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-banner-indebox" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="res/img/banner-design-online.jpg" alt="" />
            </div>
            <div class="item">
                <img src="res/img/banner-design-online.jpg" alt="" />
            </div>
        </div>

        <a class="left carousel-control" href="#carousel-banner-indebox" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-banner-indebox" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div> <!-- Carousel -->
    <div class="container-body col-md-12 col-sm-12 col-xs-12">
        <div class="container-left col-md-12 col-sm-12 col-xs-12">
            <h1>Nossos Planos</h1>
            <ul class="descricaoPlanos">
                {loop="planos"}
                    <li>
                        <div class="border">
                            <div class="planos" data-plano="{$value.idplano}" url-plano="{$value.desplano}" >
                                <span class="title-plano">{$value.desplano}</span>
                                <p>
                                    {$value.descricao}
                                </p>
                                <h3 class="startPlano">Escolher este plano</h3>
                            </div>
                        </div>

                        <a class="btn" href="#" id="moreInfo" data-toggle="modal" data-target="#moreInfo" data-info='{$value.desinformacao}' > Mais Informa&ccedil;&otilde;es</a>

                    </li>
                {/loop}
            </ul>
        </div>
    </div>
    <div class="container-bottom col-md-12 col-sm-12 col-xs-12">
        <div class="depoimentos">
            <h1>O que nossos clientes dizem</h1>

            <ul class="listaDepoimentos">
                {loop="depoimentos"}
                    <li>
                        <div class="depoimentoTexto" arrow-id='0'>
                            <div class="aspasOpen"></div>
                            <p>{$value.desdepoimento}</p>
                            <div class="aspasClose"></div>
                        </div>
                        <p class="assinatura">{$value.desnome}</p>
                    </li>
                {/loop}
            </ul>
        </div>

    </div>
</div>