<div class="container-main-page">
	<div class="container-body col-md-12 col-sm-12 col-xs-12">
		<div class="container-left col-md-12 col-sm-12 col-xs-12">
			<h1>FAQ - Dúvidas frequentes</h1>

			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
					    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							<h4 class="panel-title">
					    		<span class="title-node-accordion">
					    			<i class="fa fa-minus-circle"></i> 1- Quem dará consultoria a mim?
					    		</span>
					    	</h4>
					    </a>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
					    <div class="panel-body">
					    	A Indebox possui uma equipe competente composta por arquitetos e designers de interiores, todos associados à ABD (Associação Brasileira de Designers de Interiores), coordenados pela designers de interiores Heloisa Telles.
					   </div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwo">
					    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					    	<h4 class="panel-title">
					    		<span class="title-node-accordion">
					    			<i class="fa fa-plus-circle"></i> 2- Qual a vantagem dessa consultoria online?
					    		</span>
					    	</h4>
					    </a>					    
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					    <div class="panel-body">
					    	É uma alternativa rápida e fácil para decorar sua casa através de soluções práticas que surgem da união da experiência, conhecimento técnico, criatividade e tendências do mundo do design.
							Devido ao serviço online o tempo gasto com deslocamento não existe, tornando o valor gasto com honorários dos profissionais menor. Essa diferença pode ser aplicada na compra daquela cadeira que voce queria há tempos mas estava além do orçamento, que tal?
							Além da questão de valores, a consultoria promove uma autonomia maior ao cliente. Após ter em suas mãos todas as ideias sugeridas por nossos profissionais, o cliente organiza seu tempo da forma mais adequada para colocar em prática todas as ideias, não dependendo de compatibilidade de agenda entre cliente e o designer.
							Você pode optar por uma consultoria para apenas um ambiente ou para vários de uma só vez, escolhendo o que melhor se encaixa no seu bolso.
					    </div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
					    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					    	<h4 class="panel-title">
					    		<span class="title-node-accordion">
					    			<i class="fa fa-plus-circle"></i> 3- O que preciso enviar para receber minha consultoria?
					    		</span>
					    	</h4>
					    </a>
					</div>
					<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					  	<div class="panel-body">
					    	Através do site você deverá responder corretamente ao questionário, enviar 1 (uma) planta do seu ambiente em PDF, JPEG ou DWG com as medidas corretas, fotos do ambiente e informações complementares, como altura do pé direito e peças que gostaria de manter no ambiente. Informações extras poderão ser solicitadas através de email pela equipe da Indebox afim de obter o melhor entendimento de suas necessidades.
					  	</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
					    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
					    	<h4 class="panel-title">
					    		<span class="title-node-accordion">
					    			<i class="fa fa-plus-circle"></i> 4- Posso enviar um desenho feito à  mão de meu ambiente?
					    		</span>
					    	</h4>
					    </a>
					</div>
					<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					  	<div class="panel-body">
					    	Sim, desde que coloque as medidas corretas, localizando as portas e janelas, com suas respectivas medidas, e que esteja perfeitamente clara e legível, independentemente do formato em que seja enviado.
					  	</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
					    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
					    	<h4 class="panel-title">
					    		<span class="title-node-accordion">
					    			<i class="fa fa-plus-circle"></i> 5- Podemos utilizar móveis e acessórios que já possuo?
					    		</span>
					    	</h4>
					    </a>
					</div>
					<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					  	<div class="panel-body">
					    	Sim, envie fotos dos móveis e/ou acessórios, com as respectivas medidas, para que possamos incorporá-los à nossa criação. Isso, claro, se as medidas forem compatíveis com o ambiente.
					  	</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
					    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
					    	<h4 class="panel-title">
					    		<span class="title-node-accordion">
					    			<i class="fa fa-plus-circle"></i> 6- O que será entregue pela Indebox?
					    		</span>
					    	</h4>
					    </a>
					</div>
					<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					  	<div class="panel-body">
					    	<b>Plano FIT</b><br>
								-Planta baixa com distribuição de mobiliário<br>
								-Estudo de cores<br>
								-Escolha de materiais e acabamentos<br>
								-Distribuição dos pontos de iluminação<br>
								-Indicação de lojas e fornecedores<br>
								-Atendimento online para esclarecimento de dúvidas<br><b>Plano STANDARD</b><br><b>Plano FIT +</b><br>
								-Indicação de complementos como: tapetes, cortinas, almofadas, adornos.<br><b>Plano PLUS</b><br><b>Plano Standard +</b><br>
								-Uma imagem do ambiente feito em maquete eletrônica (3D) para melhor entendimento do resultado final.<br>
</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
					    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
					    	<h4 class="panel-title">
					    		<span class="title-node-accordion">
					    			<i class="fa fa-plus-circle"></i> 7- Qual o prazo de entrega?
					    		</span>
					    	</h4>
					    </a>
					</div>
					<div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					  	<div class="panel-body">
					    	Pedimos o prazo para entrega de 40 (quarenta) dias úteis após a data de pagamento, pois acreditamos que a troca de informação entre profissional e cliente é essencial para um ótimo resultado Porém, na maioria das vezes, conseguimos essas informações mais rapidamente, fazendo com que o tempo médio das entregas seja de 20 (vinte) dias úteis. 
					  	</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
					    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
					    	<h4 class="panel-title">
					    		<span class="title-node-accordion">
					    			<i class="fa fa-plus-circle"></i> 8- E se eu ainda tiver dúvidas após o recebimento da consultoria, o que eu faço?
					    		</span>
					    	</h4>
					    </a>
					</div>
					<div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					  	<div class="panel-body">
					    	Após a <b>entrega</b> do material, a INDEBOX oferece um prazo de 20 (vinte) dias para esclarecimento de dúvidas pertinentes à consultoria que foi dada.
					  	</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
					    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
					    	<h4 class="panel-title">
					    		<span class="title-node-accordion">
					    			<i class="fa fa-plus-circle"></i> 9- E se o resultado da consultoria não me agradar?
					    		</span>
					    	</h4>
					    </a>
					</div>
					<div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					  	<div class="panel-body">
					    	A consultoria será dada em função das suas respostas ao questionário e informações extras que nos passar, portanto quanto mais informações corretas recebermos maior será a chance de obtermos sucesso. Independentemente disso, você tem o prazo de 20 (vinte) dias para tirar dúvidas sobre a consultoria depois que entregarmos o material completo. 
					  	</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
					    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
					    	<h4 class="panel-title">
					    		<span class="title-node-accordion">
					    			<i class="fa fa-plus-circle"></i> 10- Terei uma consultoria exclusiva?
					    		</span>
					    	</h4>
					    </a>
					</div>
					<div id="collapseTwelve" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					  	<div class="panel-body">
					    	Sim, é exclusiva, pois através do questionário e outras informações fornecidas por você, podemos estabelecer seu perfil, vontades e as necessidades do espaço.
					  	</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
					    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
					    	<h4 class="panel-title">
					    		<span class="title-node-accordion">
					    			<i class="fa fa-plus-circle"></i> 11- Como entro em contato com a INDEBOX?
					    		</span>
					    	</h4>
					    </a>
					</div>
					<div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					  	<div class="panel-body">
					    	Através da área para contato em nosso site ou através do telefone: (11) 4432-0142. 
					  	</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
					    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
					    	<h4 class="panel-title">
					    		<span class="title-node-accordion">
					    			<i class="fa fa-plus-circle"></i> 12- E se eu desejar não só uma consultoria, mas outros serviços relacionados a arquitetura e design de interiores?
					    		</span>
					    	</h4>
					    </a>
					</div>
					<div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					  	<div class="panel-body">
					    	Para isso entre em contato conosco para avaliarmos suas necessidades e definirmos o profissional e a solução mais indicada a você. 
					  	</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>