<div class="container-main-page">
    <div class="container-body col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <small>Ao efetuar o pagamento você confirma que leu e concorda com o <a href="http://www.indebox.com.br/Termos_e_Condicoes_INDEBOX.pdf" target="_blank">Contrato de Serviço.</a></small>
        </div>
        <div class="forma-pagamento col-md-4 col-sm-12 col-xs-12">
            <!-- INICIO CODIGO PAGSEGURO -->

            <img alt="Logotipos de meios de pagamento do PagSeguro" src="http://www.dricases.com.br/loja/image/cache/data/logo_pagseguro-980x400.png" title="Este site aceita pagamentos com Visa, MasterCard, Diners, American Express, Hipercard, Aura, Elo, PLENOCard, PersonalCard, BrasilCard, FORTBRASIL, Cabal, Mais!, Avista, Grandcard, Sorocred, Bradesco, Itaú, Banco do Brasil, Banrisul, Banco HSBC, saldo em conta PagSeguro e boleto." border="0">

            <!-- FINAL CODIGO PAGSEGURO -->

            <!-- PayPal Logo --><img  src="http://www.guildhost.com.br/clientes/templates/warpspeed/html/images/PayPal-logo-11.png" border="0" alt="Imagens de solução" /><!-- PayPal Logo -->
        </div>
        <div class="resumo-compra col-md-6 col-sm-12 col-xs-12">
            <span>resumo da compra</span>
        </div>
    </div>
</div>