<div class="footer col-md-12 col-sm-12 col-xs-12">
	<div class="footer-img col-md-12">
		<img src="res/img/down_arrow.jpg">		
	</div>
	<div class="mapa-site-links col-md-12">
		<div class="mapa-links-topico col-md-3 col-sm-6 col-xs-12">
			<div class="mapa-links-topico-title">
				Sitemap
			</div>
			<div class="mapa-links-topico-link">
				<ul>
					<li><a href="index.php">Home</a></li>
					<li><a href="sobre-nos.php">Sobre Nós</a></li>
					<li><a href="nossos-servicos.php">Nossos Serviços</a></li>
					<li><a href="galeria.php">Galeria</a></li>
					<li><a href="contato.php">Contato</a></li>
				</ul>
			</div>
		</div>					
		<div class="mapa-links-topico col-md-3 col-sm-6 col-xs-12">
			<div class="mapa-links-topico-title">
				Nossos Serviços
			</div>
			<div class="mapa-links-topico-link">
				<ul>
					{loop="servicos"}
						<li><a href="{$value.desurl}.php">{$value.desservico}</a></li>
					{/loop}
				</ul>
			</div>
		</div>
		<div class="mapa-links-topico col-md-3 col-sm-6 col-xs-12">
			<div class="mapa-links-topico-img">
				<img src="res/img/indebox-logo.png" alt="Indebox" title="Indebox">
			</div>
			<div class="mapa-links-topico-regulamento">
				<ul>
					<a href="politica-de-privacidade.php"><li>Política de Privacidade</li></a>
					<a href="FAQ.php"><li>FAQ</li></a>
					<a href="contato.php"><li>contato@indebox.com.br</li></a>
					<a href="javascript:void(0)"  data-toggle="modal" data-target=".modal-indique-amigo"><li>Indique a Indebox</li></a>
				</ul>
			</div>
		</div>
		<div class="mapa-links-topico col-md-3 col-sm-6 col-xs-12">
			<div class="mapa-links-topico-title">
				Fale conosco
			</div>
			<div class="mapa-links-contatos">
				<ul>
					<li class="telefone"><span><i class="fa fa-phone-square"></i> (11) 44320142</span></li>
					<li class="pinterest">
						<a href="http://pinterest.com/indebox/" target="_blank">
							<i class="fa fa-pinterest-square"></i> Pinterest
						</a>
					</li>
					<li class="facebook">
						<a href="https://www.facebook.com/Indebox/" target="_blank">
							<i class="fa fa-facebook-square"></i> Facebook
						</a>
					</li>
					<li class="skype"><span><i class="fa fa-skype"></i> Skype: indebox_</span></li>
					<li class="instagram">
						<a href="https://www.instagram.com/indebox/" target="_blank">
							<i class="fa fa-instagram"></i> Instagram
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-container">
		<div class="formadepagamento col-md-12">
			<img src="res/img/paypal.png" alt="PayPal" title="PayPal">
			<img src="res/img/pagseguro.png" alt="Pagseguro" title="Pagseguro">
		</div>
	</div>
	<div class="footer-container">
		<div class="copyright col-md-12">
			© Copyright 2015. Indebox. Todos os direitos reservados.
		</div>
	</div>
</div>

<!-- Loading -->
<div id="loading">
    <img src="res/img/loading.gif" alt="Loading">
</div>

<!-- modal -->
<div class="modal fade modal-indique-amigo" tabindex="-1" role="dialog" id="modal-indique-amigo">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Indique um amigo (a)</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="inputNome">Seu nome</label>
						<input type="text" class="form-control" id="inputNome" placeholder="Digite o seu nome">
					</div>
					<div class="form-group">
						<label for="inputEmail">Seu e-mail</label>
						<input type="email" class="form-control" id="inputEmail" placeholder="Digite o seu e-mail">
					</div>
					<div class="form-group">
						<label for="inputNomeAmigo">Nome do seu amigo (a)</label>
						<input type="text" class="form-control" id="inputNomeAmigo" placeholder="Digite o nome no seu amigo (a)">
					</div>
					<div class="form-group">
						<label for="inputEmailAmigo">E-mail do seu amigo (a)</label>
						<input type="email" class="form-control" id="inputEmailAmigo" placeholder="Digite o e-mail do seu amigo (a)">
					</div>
					<div class="form-group">
						<label for="textareaMensagem">Mensagem</label>
						<textarea type="text" class="form-control" id="textareaMensagem" placeholder="Escreva um Mensagem" rows="5"></textarea>
					</div>
				</form>	
			</div>
			<div class="modal-footer">

				<!-- <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button> -->
				<button id="modal-form-submit" type="button" class="btn button-indebox-pink">Enviar</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--  -->
    
    <script src="res/vendors/jquery/jquery-1.11.1.js"></script>
    <script src="res/js/vendor/jquery.ui.widget.js"></script>
    <script src="res/vendors/jquery/jquery.redirect/jquery.redirect.js"></script>
    <script src="res/vendors/jquery/jquery-mask/jquery.mask.min.js"></script>
    <script src="res/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="res/vendors/plugins/slicknav/jquery.slicknav.min.js"></script>
    <script src="res/vendors/alertify/alertify.min.js"></script>
    <script src="res/vendors/fotorama-4.6.4/fotorama.js"></script>
    <script src="res/js/jquery.iframe-transport.js"></script>
    <script src="res/js/jquery.fileupload.js"></script>

    <script src="res/js/default.js"></script>
	<script>
	 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	 ga('create', 'UA-42417237-1', 'indebox.com.br');
	 ga('send', 'pageview');

	</script>
</body>
</html>