 <div class="container-main-page">
	<div class="container-body col-md-12 col-sm-12 col-xs-12">
		<div class="container-left col-md-12 col-sm-12 col-xs-12">
			<h1>Gerenciamento de Obra</h1>
			
			<p>
				<span>
					O gerenciamento de obra, ou conhecido por alguns como administração de obra, existe para alinhar  todos os componentes de uma obra para que ao final a estimativa de custo e cronograma tenham sido respeitados.
				</span>
			</p>
			
			<p>
				<span>
					Quando existe uma construção mal administrada surgem inúmeros problemas ao cliente, tanto em relação a qualidade do produto final quanto a gastos não esperados, seja pelo não cumprimento do cronograma ou por desperdício de material.
				</span>
			</p>

			<p>
				<span>
					Um bom gerenciador irá controlar durante todo o tempo a mão de obra, garantindo um ótimo resultado e evitando ao máximo gastos extras ao cliente.
				</span>
			</p>
			
			<p>
				<span>
					É aqui que entramos para te ajudar!
				</span>
			</p>
			<p>
				</p>
<ul class="lista">
<li> Evitar que o cliente tenha que se preocupar com a obra e possa se dedicar inteiramente aos seus compromissos diários.</li>
					<li> Tempo é dinheiro: sincronia de mão de obra resulta em agilidade</li>
					<li> Diminuir as surpresas, como gastos extras, durante a obra</li>
					<li> Garantir uma obra bem acabada e satisfazer a expectativa do cliente</li>
				</ul>
<p>
				<span>
					Entre em contato com nossa equipe para maiores informações.
				</span>
			</p>
			
			<a href="contato.php">
				<button class="btn button-indebox-pink">
					<i class="fa fa-phone"></i>
					<span>Entre em contato</span>
				</button>
			</a>
		</div>
	</div>	
	<div class="container-bottom col-md-12 col-sm-12 col-xs-12">
        <div class="servicosLista">

            <h1>
<i class="fa fa-wrench"></i> Nossos Serviços</h1>

            <ul class="servicos">
				{loop="servicos"}
	                <li>
	                    <a href="{$value.desurl}.php">
	                        <i class="fa {$value.desicon}"></i>
	                        <span>{$value.desservico}</span>
	                    </a>
	                </li>
                {/loop}
            </ul>
</div>
	</div>
</div>
