<div class="container-main-page">
    <div class="container-body col-md-12 col-sm-12 col-xs-12">
        <ol class="breadcrumb">
          <li><a href="#">Home</a></li>
          <li><a href="#">Library</a></li>
          <li class="active">Data</li>
        </ol>
        <div id="teste-redirect" class="container-left col-md-12 col-sm-12 col-xs-12">
            <h1>Dados cadastrais</h1>
            <form id="form-cadastro" method="POST" accept-charset="utf-8">
                <div class="formleft col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input  type="text" class="form-control" placeholder="Nome completo" name="desnome" tabindex="1" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="email" class="form-control" placeholder="E-mail" name="desemail" tabindex="2" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Telefone" name="destelefone" tabindex="3" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Celular" name="descelular" tabindex="4" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="CPF" name="descpf" tabindex="5" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="RG" name="desrg" tabindex="6" required="required">
                        </div>
                    </div>
                </div>
                <div class="formright col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="CEP" name="descep" tabindex="7" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Bairro" name="desbairro" tabindex="8" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="Endereço" name="desendereco" tabindex="9" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <input type="number" class="form-control" placeholder="Número" name="nrnumero" tabindex="10" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Complemento" name="descomplemento" tabindex="11">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Cidade" name="descidade" tabindex="12" required="required">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <input type="text" class="form-control" placeholder="Estado" name="desestado" tabindex="13" required="required">
                        </div>
                    </div>
                </div>
            </form>
            <button  data-toggle="modal" data-target=".modal-endereco-entrega" type="button" class="btn button-indebox-pink btn-small">Receber em outro endereço</button>
            <div id="endereco-entrega" class="item-estilo"></div>
            <h1>Adicione seu(s) ambiente(s)</h1>
            <form id="form-ambiente" method="POST" accept-charset="utf-8">
                <div class="formleft col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="Ambiente Ex.: sala, quarto" name="desambiente" tabindex="14">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Metragem (m²)" name="desmetragem" tabindex="15">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Atividade no ambiente" name="desatividadeambiente" tabindex="16">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Cores que gosta" name="descorgosta" tabindex="17">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Cores que não gosta" name="descornaogosta" tabindex="18">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label>Atmosfera do Ambiente</label>
                            <div class="radio">
                                <label><input type="radio" name="optradio">Option 1</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio">Option 2</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio">Option 3</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label>Tipo de Piso</label>
                            <div class="radio">
                                <label><input type="radio" name="optradio">Option 1</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio">Option 2</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="optradio">Option 3</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="formright col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="Planta do ambiente">
                            <img src="res/img/bg_file.png" class="inputfile"/>
                            <input type="file" tabindex="19">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="Fotos do ambiente">
                            <img src="res/img/bg_file.png" class="inputfile"/>
                            <input type="file" tabindex="20">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="Fotos da mobilía" name="descomplemento">
                            <img src="res/img/bg_file.png" class="inputfile"/>
                            <input type="file" tabindex="21">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <textarea placeholder="Observações gerais" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </form>
            <button id="addambiente" type="button" class="btn button-indebox-pink btn-small">Adicionar ambiente</button>
            <div class="itens"></div>
            <button id="finalizar-compra" type="button" class="btn button-indebox-pink">Finalizar compra</button>
        </div>
        <!--<small>Ao efetuar o pagamento você confirma que leu e concorda com o <a href="http://www.indebox.com.br/Termos_e_Condicoes_INDEBOX.pdf" target="_blank">Contrato de Serviço.</a></small> -->
    </div>
</div>


<!-- modal -->
<div class="modal fade modal-endereco-entrega" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Endereço de entrega</h4>
            </div>
            <div class="modal-body">
                <form id="form-endereco">
                    <div class="form-group">
                        <label for="descep">CEP</label>
                        <input type="text" class="form-control" placeholder="CEP" name="descep">
                    </div>
                    <div class="form-group">
                        <label for="desendereco">Endereço</label>
                        <input type="text" class="form-control" placeholder="Endereço" name="desendereco">
                    </div>
                    <div class="form-group">
                        <label for="nrnumero">Número</label>
                        <input type="number" class="form-control" placeholder="Número" name="nrnumero">
                    </div>
                    <div class="form-group">
                        <label for="descomplemento">Complemento</label>
                        <input type="text" class="form-control" placeholder="Complemento" name="descomplemento">
                    </div>
                    <div class="form-group">
                        <label for="desbairro">Bairro</label>
                        <input type="text" class="form-control" placeholder="Bairro" name="desbairro">
                    </div>
                    <div class="form-group">
                        <label for="descidade">Cidade</label>
                        <input type="text" class="form-control" placeholder="Cidade" name="descidade">
                    </div>
                    <div class="form-group">
                        <label for="desestado">Estado</label>
                        <input type="text" class="form-control" placeholder="Estado" name="desestado">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button> -->
                <button id="addendereco" type="button" class="btn button-indebox-pink">Enviar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->