<div class="container-main-page">
	<div class="container-body col-md-12 col-sm-12 col-xs-12">
		<div class="container-left col-md-12 col-sm-12 col-xs-12">
			<h1>Política de Privacidade e segurança da informação</h1>
			
			<p>
				<span>
					A Indebox, pela natureza dos serviços que oferece e por disponibilizar a aquisição dos mesmos neste site, é obrigada a recolher informações dos usuários e visitantes e, em situações pontuais, revelá-las. A fim de demonstrar transparência e cumprimento da legislação brasileira, a Indebox esclarece aqui o que pode ser feito com as informações colhidas salientando que ao cadastrar-se e/ou navegar pela página da Indebox, o consumidor e/ou visitante consente com utilização de suas informações pessoais nos seguintes termos: 
				</span>
			</p>

			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
					    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							<h4 class="panel-title">
					    		<span class="title-node-accordion">
					    			<i class="fa fa-minus-circle"></i> 1- Informações solicitadas pela Indebox
					    		</span>
					    	</h4>
					    </a>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
					    <div class="panel-body">
					    	Para utilizar os serviços disponibilizados pela Indebox será exigido do usuário/consumidor um cadastro do qual constará nome completo, número de RG, número de CPF e informações de contato (número de telefone fixo, celulares, endereço de e-mail, endereço residencial e comercial), informações estas passíveis de confirmação perante entidades públicas e/ou bancos de dados. As informações obtidas destas entidades e/ou banco de dados serão armazenadas confidencialmente pela INDEBOX. O preenchimento do cadastro implica em aceitação pelo consumidor/usuário de todos os termos da presente Política de privacidade e segurança. É dado ao consumidor o direito de – a qualquer momento - solicitar a extinção ou remoção de seus dados do cadastro da Indebox, devendo fazê-lo por escrito via e-mail.
					   </div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingTwo">
					    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					    	<h4 class="panel-title">
					    		<span class="title-node-accordion">
					    			<i class="fa fa-plus-circle"></i> 2- Do uso da informação pela Indebox
					    		</span>
					    	</h4>
					    </a>					    
					</div>
					<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					    <div class="panel-body">
					    	A solicitação aos consumidores de dados de caráter pessoal tem por finalidade avaliar seus interesses e necessidades, gerando-lhes informações relacionadas e relevantes. Feito o cadastro solicitado pela Indebox, está ela autorizada a enviar ao consumidor informação ou mensagem por e-mail sobre serviços, publicidade e produtos de seu interesse, bem como e principalmente compartilhar tais dados com seus parceiros, provedores de serviços, meios de pagamentos, seguros ou intermediários na gestão de pagamentos, callcenters ou programas de fidelidade, entre outros. A Indebox cuidará pelo cumprimento de certos padrões de segurança da informação mediante a assinatura de acordos ou convênios cujo objeto seja a privacidade dos dados pessoais dos consumidores. Contudo, fica excluída a responsabilidade da Indebox pelo eventual uso indevido da informação pessoal do consumidor por parte destas empresas ou sites de internet.
					    </div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
					    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					    	<h4 class="panel-title">
					    		<span class="title-node-accordion">
					    			<i class="fa fa-plus-circle"></i> 3- Confidencialidade da informação
					    		</span>
					    	</h4>
					    </a>
					</div>
					<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					  	<div class="panel-body">
					    	A Indebox não venderá ou alugará as informações e dados pessoais dos consumidores, entretanto, as poderá compartilhar na forma acima retratada, comprometendo-se a proteger a privacidade dos mesmos. Mediante solicitação/ordem judicial ou por força de lei e/ou regulamento, sendo a INDEBOX compelida a revelar informações do consumidor armazenadas em seus arquivos, não poderá furtar-se ao cumprimento das mesmas, não respondendo, entretanto, por eventual utilização indevida nesta circunstância.
					  	</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
					    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
					    	<h4 class="panel-title">
					    		<span class="title-node-accordion">
					    			<i class="fa fa-plus-circle"></i> 4- Segurança e armazenamento da informação
					    		</span>
					    	</h4>
					    </a>
					</div>
					<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					  	<div class="panel-body">
					    	A Indebox está obrigada a observar as normas aplicáveis em matéria de medidas de segurança de informação pessoal. Além disso, empregará os padrões da indústria em matéria de proteção da confidencialidade das informações pessoais, embora seja importante considerar que não há segurança perfeita em termos de internet. A Indebox considera os dados de seus consumidores como um bem a ser protegido de qualquer perda ou acesso não autorizado, empregando técnicas de segurança para proteger tais ocorrências, dentro ou fora da empresa. Entretanto, a Indebox não será responsável por interceptações ilegais, violação de seus sistemas ou bases de dados por parte de pessoas não autorizadas, tampouco responsabilizando-se pela indevida utilização da informação obtida por esses meios.
					  	</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
					    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
					    	<h4 class="panel-title">
					    		<span class="title-node-accordion">
					    			<i class="fa fa-plus-circle"></i> 5- Mudança nas preferências de e-mails
					    		</span>
					    	</h4>
					    </a>
					</div>
					<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					  	<div class="panel-body">
					    	Se o consumidor/usuário não quiser receber as newsletters da Indebox, poderá alterar suas preferências, vedada entretanto à objeção do consumidor/usuário relacionada ao recebimento de e-mails relativos aos serviços contratados.
					  	</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
					    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
					    	<h4 class="panel-title">
					    		<span class="title-node-accordion">
					    			<i class="fa fa-plus-circle"></i> 6- Informação na seção de perguntas e respostas ou blogs
					    		</span>
					    	</h4>
					    </a>
					</div>
					<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					  	<div class="panel-body">
					    	A Indebox disponibiliza uma seção para perguntas e respostas, onde os consumidores podem esclarecer dúvidas, fazer comentários, dar opiniões, sobre temas de seu interesse, sempre sujeitos às regras aplicáveis nestas políticas. A informação pessoal inserida na seção de perguntas e respostas pode ser lida, coletada ou utilizada por qualquer pessoa, razão pela qual a Indebox não será responsável pela mesma.
					  	</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingThree">
					    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
					    	<h4 class="panel-title">
					    		<span class="title-node-accordion">
					    			<i class="fa fa-plus-circle"></i> 7- Direitos de retificação de dados pessoais
					    		</span>
					    	</h4>
					    </a>
					</div>
					<div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					  	<div class="panel-body">
					    	Uma vez cadastrados na Indebox, o consumidor/usuário poderá revisar e alterar a informação que houver fornecido durante o processo de cadastro, incluindo:<br>
							a- O endereço de e-mail. Sem prejuízo das mudanças que efetue, a Indebox conservará os dados pessoais originais por motivos de segurança e controle de fraudes;<br>
							b- A informação do cadastro como: número de telefone, etc.
					  	</div>
					</div>
				</div>
			</div>

			<p>
				<span>
					Em determinados casos, serão mantidos nos arquivos da Indebox os dados pessoais que nos tenham sido solicitados para remoção com o objetivo de utilização na solução de litígios ou reclamações, detectar problemas ou incidentes, conforme expressamente autorizado pelo usuário/consumidor ao proceder seu cadastro.
				</span>
			</p>
		</div>
	</div>
</div>